.author-profile-images {
    max-width: 150px !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.img.two {
  height: 10%;
  width: 150%;
}

 .citation {
    font-family: monospace !important;
 }

 /*.logo {*/
 /*   max-width: 250px !important;*/
 /*}*/
